<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.test.mapper.CompanyJoinRecruitMapper">
 	<select id="selectCompanyJoinRecruitList" resultType="com.example.test.domain.CompanyJoinRecruit">
 		SELECT
 			A.`name`, A.`business`, A.`scale`, A.`headcount`, 
			B.`position`, B.`responsibilities`, B.`qualification`, B.`type`, B.`region`, B.`salary`, B.`deadline`
		FROM 
			`company` as A 
		JOIN 
			`recruit` as B 
		ON 
			A.`id` = B.`companyId`;
 	</select>
 </mapper>